{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        com.taoensso/telemere {:mvn/version "1.2.1"}
        tick/tick {:mvn/version "0.7.5"}
        overtone/overtone {:mvn/version "0.16.3331"}}
 :aliases
 {:run-m {:main-opts ["-m" "strudel-overtone.strudel-overtone"]}
  :run-x {:ns-default strudel-overtone.strudel-overtone
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.10"}}
          :ns-default build}
  :dev {:extra-paths ["test"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
